.wpcf7-form {
	position: relative;
	margin-top: 40px;
	label {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		width: 100%;
		font-family: $title;
		font-weight: 700;
		color: $provita;
		font-size: 14px;
		// text-transform: uppercase;
		letter-spacing: -0.01em;
		margin-bottom: 4px;
		i {
			font-size: 16px;
			color: $primary;
			&:first-of-type {
				margin-right: 2px;
			}
			&:last-of-type {
				margin-right: 10px;
			}
		}
	}
	.wpcf7-form-control-wrap {
		input {
			margin: 0 0 20px;
			width: 100%;
			height: 50px;
			border: 1px solid rgba($grey,.2);
			border-radius: 4px;
			box-shadow: none;
			outline: 0;
			font-family: $title;
			font-weight: 700;
			color: $primary;
			font-size: 16px;
			&:focus,
			&:active {
				border: 1px solid $primary;
				box-shadow: none;
				outline: 0;
			}
		}
		textarea {
			margin: 0 0 20px;
			width: 100%;
			height: 200px;
			resize: none;
			border: 1px solid rgba($grey,.2);
			border-radius: 4px;
			box-shadow: none;
			outline: 0;
			font-family: $title;
			font-weight: 700;
			color: $primary;
			font-size: 16px;
		}
		&.acceptance-299 {
			label {
				display: flex;
				align-items: flex-start;
				justify-content: flex-start;
				input {
					width: auto;
					height: auto;
					margin-top: 6px;
					margin-right: 10px;
				}
			}
		}
		.wpcf7-radio {
			span {
				display: block;
				label {
					display: flex;
					align-items: flex-start;
					justify-content: flex-start;
					input {
						width: auto;
						height: auto;
						margin: 6px 10px 0 0;
					}
					span {
						float: none;
						width: 100%;
					}
				}
			}	
		}
	}
	input[type="submit"] {
		float: right;
		border: 0;
		background-color: $provita;
		border-radius: 4px;
		height: 48px;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		color: $background;
		font-family: $title;
		font-weight: 700;
		font-size: 16px;
		letter-spacing: 0.03em;
		text-transform: uppercase;
		padding: 0 20px;
		margin-right: 5%;
	}
	.conditional-row {
		margin-bottom: 20px;
	}
}
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {}
// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
	.wpcf7-form {
		.wpcf7-form-control-wrap {
			input {
				width: 95%;
			}
			textarea {
				width: 98%;
			}
			.wpcf7-radio {
				float: none;
				clear: both;
				span {
					display: inline-block;
					width: 31%;
				}
			}
		}
	}
}
// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}