.single--info {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	position: relative;
	width: 100%;
	margin-bottom: 20px;
	img {
		width: 100px;
		height: 100px;
		margin-bottom: 14px;
	}
	h4 {
		font-family: $title;
		font-size: 55px;
		font-weight: 400;
	}
	h6 {
		margin-top: 14px;
		font-family: $text;
		font-weight: 300;
		color: $black;
	}
}
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {}
// Large devices (desktops, 992px and up)
@media (min-width: 992px) {}
// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}