$black: #120309;
$white: #FFFFFF;
$background: #FAFAFA;
$primary: #004C77;
$provita: #C76CA7;
$lavoro: #0093d4;
$ds: #A1C67E;
$red: #D9000D;
$dark-blue: #003452;
$pewtre-blue: #95B2B8;
$light-pink: #F07DC2;
$acid-green: #C8EAA8;
$grey: #E9ECEF;