#cookie-bar {
  background-color: $dark-blue;
  padding: 20px;
  border-radius: 8px;
  &.bottom {
    position: fixed;
    bottom: 1rem;
    left: 1rem;
    right: 1rem;
    z-index: 999;
  }
  p {
    font-family: $text;
    font-size: 15px;
    color: $white;
    strong {
      font-family: $title;
      font-size: 18px;
      text-transform: uppercase;
      margin-bottom: 10px;
      letter-spacing: .03em;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      i {
      	margin-right: 14px;
      	font-size: 40px;
      }
    }
    a {
      text-decoration: underline;
      &:hover {
        text-decoration: underline !important;
      }
      &.cb-enable {
        background-color: $white;
        font-family: $title;
        font-size: 14px;
        text-transform: uppercase;
        color: $primary;
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 60px;
        height: 30px;
        margin-top: 1rem;
        &:hover {
          text-decoration: none !important;
        }
      }
    }
  }
}
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
	#cookie-bar {
		&.bottom {
			bottom: 20px;
			left: 20px;
			right: auto;
			width: 500px;
		}
	}
}
// Large devices (desktops, 992px and up)
@media (min-width: 992px) {}
// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}