section.section--content-hero {
	height: calc(100vh - 110px);
	padding: 50px 0;
	z-index: 10;
	.illustration--block {
		position: absolute;
		bottom: -60px;
		right: 0;
		left: 0;
		width: 100%;
		.illustration {
			width: 100%;
			max-width: 300px;
			margin: 0 auto;
		}
	}
	.title--section {
		text-align: left;
	}
}
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
	section.section--content-hero {
		.illustration--block {
			.illustration {
				max-width: 500px;
			}
		}
	}
}
// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
	section.section--content-hero {
		padding: 0;
		height: calc(100vh - 140px - 60px);
		.grid-container {
			height: 100%;
			.grid-x {
				height: 100%;
				.column {
					height: 100%;
				}
			}
		}
		.illustration--block {
			position: relative;
			height: 100%;
			left: auto;
			right: auto;
			bottom: auto;
			.illustration {
				position: absolute;
				right: 0;
				bottom: -100px;
				max-width: 100%;
			}
		}
	}
}
// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}